$phone-width:   320px;
$tablet-width:  0784px;
$desktop-width: 1024px;

@mixin phone-only-breakpoint {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-breakpoint {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only-breakpoint {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

%u-show-mobile-only {
  @include tablet-breakpoint {
    display: none;
  }
}

%u-hide-mobile-only {
  display: none;

  @include tablet-breakpoint {
    display: inline-block;
  }
}

%u-show-hide-mobile-only {
  &.is-show-only-mobile {
    @extend %u-show-mobile-only;
  }

  &.is-hide-only-mobile {
    @extend %u-hide-mobile-only;
  }
}
