$color-gray-50:   #ffffff;
$color-gray-100:  #fafafa;
$color-gray-200:  #f5f5f5;
$color-gray-300:  #f0f0f0;
$color-gray-400:  #dedede;
$color-gray-500:  #c2c2c2;
$color-gray-600:  #979797;
$color-gray-700:  #818181;
$color-gray-800:  #606060;
$color-gray-900:  #3c3c3c;

$color-black:     $color-gray-900;
$color-white:     $color-gray-50;

$color-primary:   #18acc4;
$color-secondary: #c28a1b;
