%b-depth-0 {
  box-shadow: none;
}

%b-depth-1 {
  $shadow-color-1: rgba(0, 0, 0, .12);
  $shadow-color-2: rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px $shadow-color-1, 0 1px 2px $shadow-color-2;
}

%b-depth-2 {
  $shadow-color-1: rgba(0, 0, 0, .16);
  $shadow-color-2: rgba(0, 0, 0, .23);
  box-shadow: 0 3px 6px $shadow-color-1, 0 3px 6px $shadow-color-2;
}

%b-depth-3 {
  $shadow-color-1: rgba(0, 0, 0, .19);
  $shadow-color-2: rgba(0, 0, 0, .23);
  box-shadow: 0 10px 20px $shadow-color-1, 0 6px 6px $shadow-color-2;
}

%b-depth-4 {
  $shadow-color-1: rgba(0, 0, 0, .25);
  $shadow-color-2: rgba(0, 0, 0, .22);
  box-shadow: 0 14px 28px $shadow-color-1, 0 10px 10px $shadow-color-2;
}

%b-depth-5 {
  $shadow-color-1: rgba(0, 0, 0, .3);
  $shadow-color-2: rgba(0, 0, 0, .22);
  box-shadow: 0 19px 38px $shadow-color-1, 0 15px 12px $shadow-color-2;
}
