html {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-family-proxima-nova;
  font-size: 14px;
  font-weight: $font-weight-proxima-nova;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: $spacing-1;
}

h1,
h2 {
  font-weight: $font-weight-proxima-nova-bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: $font-weight-proxima-nova-semibold;
}

h4,
h5,
h6 {
  font-size: 1em;
}

p {
  color: $color-gray-800;
  margin: 0;
}

a {
  display: inline-block;
}
