html {
  font-family: $font-family-proxima-nova;
  font-size: 14px;
  font-weight: $font-weight-proxima-nova;
  line-height: 1;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: $font-weight-proxima-nova-bold;
  margin: 0;
  padding: $spacing-1 $spacing-2;
}

p {
  margin: 0;
  padding: $spacing-1 $spacing-2;
}
