%u-container {
  height: 100%;
  margin: 0 auto;
  max-width: $desktop-width;
  padding: 0 $spacing-2;
}

%u-container-only-tablet {
  @extend %u-container;
  max-width: 100%;
  padding: 0;

  @include tablet-breakpoint {
    max-width: $desktop-width;
    padding: 0 $spacing-2;
  }
}

.u-container {
  @extend %u-container;
}

@mixin u-min-max-width($value) {
  max-width: $value;
  min-width: $value;
  width: $value;
}

@mixin u-min-max-height($value) {
  height: $value;
  max-height: $value;
  min-height: $value;
}

@mixin u-min-max-square($value) {
  @include u-min-max-height($value);
  @include u-min-max-width($value);
}
