.l-bottom-bar {
  background-color: darken($color-primary, 10%);
  border-top: 1px solid $color-primary;
  padding: $spacing-2 0;

  &__container {
    @extend %u-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__payment {
    display: none;
  }

  &__content {
    &.is-love {
      margin-bottom: $spacing-1;
      order: -1;
    }
  }

  &__text {
    color: $color-white;
  }

  &__heart {
    display: inline-block;
    margin-right: 4px;
    transform: rotate(90deg) scale(1.2);
  }
}
