.l-bottom-bar {
  @extend %b-depth-1;
  background-color: darken($color-primary, 10%);
  border-top: 1px solid $color-primary;
  padding: $spacing-2 0;

  @include tablet-breakpoint {
    border-top: 0;
  }

  &__container {
    @extend %u-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet-breakpoint {
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &__content {
    text-align: center;
    width: 100%;

    @include tablet-breakpoint {
      width: auto;
    }

    &.is-love {
      margin-bottom: $spacing-1;
      order: -1;

      @include tablet-breakpoint {
        margin-bottom: 0;
        order: 3;
      }
    }
  }

  &__text {
    color: $color-white;

    @include tablet-breakpoint {
      font-size: .9em;
      text-align: left;
    }
  }

  &__heart {
    display: inline-block;
    margin-right: 4px;
    transform: rotate(90deg) scale(1.2);
  }
}
