.l-card {
  @extend %b-depth-2;
  $this: &;
  background-color: $color-white;
  border: 1px solid $color-gray-500;
  border-radius: 5px;
  padding: $spacing-2;
  padding-bottom: 0;

  @include tablet-breakpoint {
    padding: $spacing-4;
    padding-bottom: $spacing-2;
  }

  &__body {
    margin-top: $spacing-2;
  }

  &__group {
    display: flex;

    #{$this}__item {
      &:not(:first-child) {
        flex-grow: 1;
        margin-left: $spacing-2;
      }
    }
  }

  &__item {
    display: block;
    margin-bottom: $spacing-2;
  }

  // TODO: Faz sentido esse botão ficar preso no escopo desse card?
  &__button {
    background-color: $color-highlight;
    border: 0;
    border-radius: 5px;
    color: $color-white;
    display: block;
    font-size: 1.1em;
    font-weight: $font-weight-proxima-nova-bold;
    height: $spacing-6;
    margin-top: $spacing-1;
    padding: 0 $spacing-4;
    width: 100%;
  }

  &__link {
    color: $color-secondary;
    display: block;
    padding: $spacing-2;
    text-align: center;
    transition: color 250ms ease-in;

    &:hover {
      color: lighten($color-secondary, 5%);
    }
  }
}
