.l-header {
  @extend %b-depth-1;
  $border-value: 1px solid $color-gray-400;
  border-bottom: $border-value;
  height: $spacing-8;

  @include tablet-breakpoint {
    height: $spacing-9;
  }

  &__container {
    @extend %u-container;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__content {
    height: 100%;

    @include tablet-breakpoint {
      display: flex;
      flex: 1 1 250px;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  &__group-of-items {
    @extend %b-depth-4;
    $width: 248px;
    background-color: $color-gray-200;
    border-top: 2px solid $color-gray-300;
    height: calc(100vh - 64px);
    padding-top: $spacing-2;
    position: absolute;
    transform: translateX(($width * 1.2) * -1);
    transition: transform 250ms linear;
    width: $width;
    z-index: 2;

    @include tablet-breakpoint {
      background-color: transparent;
      box-shadow: none;
      flex-basis: 320px;
      flex-direction: row;
      height: 100%;
      padding-top: 0;
      position: relative;
      transform: translateX(0);
      width: auto;

      &:first-child {
        border-right: $border-value;

        @include tablet-breakpoint {
          border-right: 0;
        }
      }

      &:last-child {
        border-left: $border-value;
        justify-content: flex-end;

        @include tablet-breakpoint {
          border-left: 0;
        }
      }
    }

    &::before {
      $triangle-size: 10px;
      border-bottom: $triangle-size solid $color-gray-200;
      border-left: $triangle-size solid transparent;
      border-right: $triangle-size solid transparent;
      content: '';
      height: 0;
      left: $spacing-2;
      position: absolute;
      top: $triangle-size * -1;
      width: 0;
    }

    &.is-expanded {
      transform: translateX(0);
    }
  }

  &__item {
    display: inline-block;
    padding: $spacing-1 0;
    width: 100%;

    &:not(:first-child) {
      @include tablet-breakpoint {
        border-left: $border-value;
      }
    }

    @include tablet-breakpoint {
      height: 100%;
      width: auto;
    }
  }

  &__logo {
    align-items: center;
    display: inline-flex;
    flex: 0 1 152px;
    padding: $spacing-1 $spacing-2;
  }
}
