.l-main {
  margin-bottom: $spacing-10 * 10;

  &__header {
    @extend %u-container;
    padding-bottom: $spacing-4;
    padding-top: $spacing-4;
  }

  &__panel {
    background-color: $color-gray-100;
    border-bottom: 1px solid $color-gray-400;
    padding-top: $spacing-4;
    position: relative;

    @include tablet-breakpoint {
      padding-bottom: $spacing-4;
    }
  }

  &__container {
    @extend %u-container;

    @include tablet-breakpoint {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    flex: 1 1 480px;
    transform: translateY($spacing-4);

    @include tablet-breakpoint {
      margin-left: $spacing-4;
      transform: translateY($spacing-8);
    }
  }

  &__steps {
    margin-top: $spacing-3;
  }

  &__share {
    @extend %u-container;
    padding-top: $spacing-8;
  }

  &__share-container {
    border-bottom: 1px solid $color-gray-300;
    display: flex;
    padding-bottom: $spacing-4;
  }

  &__share-group {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-2;
    }
  }

  &__share-group-title {
    color: $color-gray-800;
    font-weight: $font-weight-proxima-nova;
  }

  &__share-icon {
    max-height: 21px;
    max-width: 24px;
  }

  &__share-list {
    display: flex;
  }

  &__share-item {
    &:not(:first-child) {
      margin-left: $spacing-1;
    }
  }

  &__share-link {
    @include u-min-max-square($spacing-5);
    align-items: center;
    border: 1px solid $color-gray-400;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
  }
}
