.l-menu-bar {
  background-color: $color-primary;
  height: $spacing-5;

  &__container {
    @extend %u-container;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    align-items: center;
    color: $color-white;
    display: flex;
    height: 100%;

    &.is-main {
      font-weight: bold;
      padding: $spacing-1 $spacing-2;
      text-transform: uppercase;
    }
  }
}
