.l-menu-bar {
  background-image: linear-gradient(to right, $color-primary, darken($color-primary, 5%));
  height: $spacing-6;

  &__container {
    @extend %u-container;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    align-items: center;
    color: $color-white;
    display: flex;
    height: 100%;

    &.is-main {
      font-weight: bold;
      padding: $spacing-1 $spacing-2;
      text-transform: uppercase;
    }
  }
}
