.l-panel {
  background-color: $color-gray-100;
  padding-top: $spacing-4;
  position: relative;
  z-index: 1;

  &::before {
    background-color: $color-white;
    //border-top: 1px solid $color-gray-400;
    bottom: 0;
    box-shadow:  0 -1px 0 0 $color-gray-400;
    content: ' ';
    display: block;
    height: $spacing-4;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__container {
    @extend %u-container;

    @include tablet-breakpoint {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }
  }

  &__step-by-step {
    flex: 1 1 480px;
    padding-bottom: $spacing-4;
  }

  &__step-by-step-title {
    margin-bottom: $spacing-2;
  }

  &__step-by-step-sub-title {
    margin-bottom: $spacing-2;
  }

  &__step-by-step-text {
    font-size: 16px;
    line-height: 24px;
  }

  &__card {
    flex: 1 1 480px;

    @include tablet-breakpoint {
      margin-left: $spacing-4;
    }
  }

  &__steps {
    padding-bottom: 0;
    padding-top: $spacing-3;

    @include tablet-breakpoint {
      padding-bottom: $spacing-4;
    }
  }
}
