.l-share {
  @extend %u-container;
  $this: &;
  padding-top: $spacing-8;

  &__title {
    margin-bottom:  $spacing-2;

    @include tablet-breakpoint {
      border-bottom: 1px solid $color-gray-400;
      margin-bottom: $spacing-3;
      padding-bottom: $spacing-2;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include tablet-breakpoint {
      flex-wrap: nowrap;
    }
  }

  &__social-networks {
    border-bottom: 1px solid $color-gray-400;
    flex: 1 1 480px;
    margin-bottom: $spacing-3;
    padding-bottom: $spacing-3;

    @include tablet-breakpoint {
      border-bottom: 0;
      margin-right: $spacing-4;
    }
  }

  &__social-networks-item {
    &:not(:last-child) {
      margin-right: $spacing-2;
    }
  }

  &__emails {
    flex: 1 1 400px;
  }

  &__emails-item {
    margin-bottom: $spacing-2;
  }
}
