.m-contact {
  $this: &;
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;

  @include tablet-breakpoint {
    flex-direction: row;
  }

  &__content {
    @extend %u-show-hide-mobile-only;
    display: flex;
    flex-direction: column;
    line-height: 1.3;

    &.is-hide-only-mobile {
      margin-left: $spacing-1;
    }

    @include tablet-breakpoint {
      margin-left: $spacing-1;
    }
  }

  &__icon {
    fill: $color-white;
    height: $spacing-3;
    margin-bottom: $spacing-1;
    width: $spacing-3;

    @include tablet-breakpoint {
      fill: darken($color-primary, 10%);
      height: $spacing-4;
      margin-bottom: 0;
      width: $spacing-5;
    }
  }

  &__title {
    @extend %u-show-hide-mobile-only;
    align-items: center;
    display: flex;
    font-size: .9em;
    font-weight: normal;

    @include tablet-breakpoint {
      font-size: 1.2em;
    }
  }

  &__more-info {
    color: $color-white;
    display: none;
    font-size: .7em;

    @include tablet-breakpoint {
      display: inline-block;
      font-size: .9em;
    }
  }

  &__status {
    @include u-min-max-square($spacing-1);
    border-radius: 50%;
    content: '';
    display: inline-block;
    margin-right: 4px;

    &.is-open {
      background-color: $color-highlight;
    }

    &.is-closed {
      background-color: $color-danger;
    }
  }

  &.is-main {
    flex-direction: row;

    #{$this}__content {
      margin-left: $spacing-1;
    }

    #{$this}__more-info {
      display: inline-block;
    }

    #{$this}__icon {
      margin-bottom: 0;
    }
  }
}
