.m-header-item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  padding: $spacing-1 $spacing-2;

  @include tablet-breakpoint {
    flex-direction: row;
  }

  &__icon {
    color: $color-gray-900;
    display: inline-block;
    fill: $color-secondary;
    vertical-align: middle;

    @include tablet-breakpoint {
      margin-right: $spacing-1;
    }
  }

  &__text {
    @extend %u-show-hide-mobile-only;
    color: $color-black;
  }
}
