.m-menu {
  background-color: $color-primary;
  border-top: 1px solid lighten($color-primary, 5%);
  height: 0;
  line-height: 2;
  max-height: 0;
  overflow-y: auto;
  transition: 250ms linear;
  transition-property: max-height, height;
  width: 100%;

  &.is-expanded {
    height: 224px;
    max-height: 100%;
  }

  @include tablet-breakpoint {
    background-color: transparent;
    border-top: 0;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: flex-end;
    max-height: 100%;
    padding-right: $spacing-2;
  }

  &__item {
    align-items: center;
    display: flex;
    transition: background-color 250ms ease-in;

    &:hover,
    &.is-active {
      background-color: lighten($color-primary, 2%);
    }
  }

  &__link {
    align-items: center;
    color: $color-white;
    display: flex;
    height: 100%;
    padding: $spacing-1;
  }
}
