.m-payment {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 0 $spacing-1;

  &.u-show-mobile-only {
    display: flex;

    @include tablet-breakpoint {
      display: none;
    }
  }

  &.u-hide-mobile-only {
    display: none;

    @include tablet-breakpoint {
      display: flex;
    }
  }

  &__item {
    align-items: center;
    display: inline-flex;
    max-width: 180px;

    & + & {
      margin-left: $spacing-1;
    }
  }
}
