.m-social-networks {
  display: inline-flex;
  flex-direction: column;

  &__title {
    color: $color-gray-800;
    font-weight: $font-weight-proxima-nova;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: $spacing-1;
    }
  }

  &__link {
    @include u-min-max-square($spacing-5);
    align-items: center;
    border: 1px solid $color-gray-400;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;

    @include tablet-breakpoint {
      @include u-min-max-square($spacing-6);
    }
  }

  &__icon {
    max-height: 21px;
    max-width: 24px;
  }
}
